.btn-newly {
	font-size: 27px;
	font-weight: 600;
	border: 1px solid $btn-color;
	border-radius: 6px;
	padding: 0.2em 0.9em;
	color: $btn-color;
	background-color: $btn-bg;
	opacity: $btn-opacity;
	transition: opacity 0.5s ease;
	&:hover {
		opacity: $btn-hover-opacity;
		color: $btn-color;
	}
}