// Your footer style
#footer {
	background: $gray-darker;
	color: $gray-lighter;
	padding: 50px 20px;
	a {
		color: $gray-lighter;
		font-size: 30px;
		letter-spacing: 10px;
		transition: color 0.5s ease;
		&:hover {
		color: $red;
		}
	}
}