---
title: Stylus pricing
---

<div class="text-center">
	<h1>We have a plan for your team</h1>
	<h2>Start your 14-day free trial. No credit card required</h2>
</div>
<div class="container text-center">
	<div class="row">
		<div class="col-xs-12 col-sm-3">
			<h2>Team</h2>
			<div class="row">
				<div class="col-xs-12">
					<div class="card-white">
						<div>
							<p>
								$19 <br/>
								Per user / month
							</p>
							<button class="btn btn-danger">Subscribe now</button>
						</div>
						<p>
							<strong>Team</strong> includes all of these great features:
						</p>
					</div>
				</div>
				<div class="col-xs-12">
					<p>3 team inboxes</p>
				</div>
				<div class="col-xs-12">
					<p>Collision detection</p>
				</div>
				<div class="col-xs-12">
					<p>Canned responses</p>
				</div>
				<div class="col-xs-12">
					<p>Automated rules</p>
				</div>
				<div class="col-xs-12">
					<p class="hover-blue">
						<strong>Basic integrations</strong>
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3">
			<h2>Premium</h2>
				<div class="row">
					<div class="col-xs-12">
						<div class="card-white">
							<div>
								<p>
									$29 <br/>
									Per user / month	
								</p>
								<button class="btn btn-success">Subscribe now</button>
							</div>
							<p>
								<strong>Premium</strong> includes everything in Team, and:
							</p>
						</div>
					</div>
					<div class="col-xs-12">
						<p>15 team inboxes</p>
					</div>
					<div class="col-xs-12">
						<p>
							<strong class="hover-blue">Advanced integrations</strong>
						</p>
					</div>
					<div class="col-xs-12">
						<p>Analytics &amp; Reports</p>
					</div>
					<div class="col-xs-12">
						<p>API / Plugins</p>
					</div>
				</div>
		</div>
		<div class="col-xs-12 col-sm-3">
			<h2>Enterprise</h2>
				<div class="row">
					<div class="col-xs-12">
						<div class="card-white">
							<div>
								<p>
									$49 <br/>
									Per user / month
								</p>
							</div>
							<p>
								<strong>Enterprise</strong> includes everything in Premium, and:
							</p>
						</div>
					</div>
					<div class="col-xs-12">
						<p>100 team inboxes</p>
					</div>
					<div class="col-xs-12">
						<p>SAML-based single sign-on (SSO)</p>
					</div>
					<div class="col-xs-12">
						<p>Salesforce integration</p>
					</div>
					<div class="col-xs-12">
						<p>IP access restrictions</p>
					</div>
					<div class="col-xs-12">
						<p>Dedicated account support</p>
					</div>
				</div>
		</div>
	</div>
</div>
